.husky
.DS_Store
.browserslistrc
.editorconfig
.eslintignore
*ignore

*.ico
*.bmp
*.drawio
*.env*
*.gif
*.jpg
*.jpeg
*.svg
*.png
*.yml

*.min.css
*.min.js

dist
LICENSE
Dockerfile
node_modules
pnpm-lock.yaml
docker-compose.yml
yarn.lock

docs/*.js
